<div class="container" style="padding-bottom: 2%; font-size: 17px">
    <div class="row">
        <div class="col-md-11 col-sm-10">
            <div class="row">
              <%= link_to :controller=> 'home' do %>Home <% end %> > <%= @subject.name %>
            </div>
            <div class="row" style="font-size: 20px;margin-top: 20px;color:blue">
              <% if @scholarships.count ===0 %>
              <span style="font-size: 20px">No</span> Scholarships <%= @subject.name %>
              <% else %>
              <h1><%= @scholarships.count %> <%= @subject.name %> Scholarships</h1>
              <% end %>
            </div>
            <div class="row" style="margin-top: 25px">
              <% @scholarships.each do |scholarship| %>
                <div style="margin-bottom:20px">
                  <% name = scholarship.title.gsub( " ", "-" ) %>
                  <%= link_to :controller => "singlescholarships", :action => "index", :id => name do %>
                      <h2><%= scholarship.title %></h2>
                  <% end %>
                  <div>
                      <% name = scholarship.institute.name.gsub( " ", "-" ) %>
                      <% name = "Scholarships-at-"+name %>
                      <%= link_to :controller => "institute_view", :action => "index", :institute_id => name do %>
                        <%= scholarship.institute.name %>
                      <% end %>
                  </div>
                  <div>
                    <% scholarship.states.each do |state| %>
                      <% name = state.name.gsub( " ", "-" ) %>
                      <% name = "Scholarships-in-"+name %>
                      <%= link_to :controller => "country", :action => "index", :country =>   name do %>
                      <span class="label label-success"><%= state.name %></span>
                      <% end %>
                    <% end %>
                  </div>
                                 </div>
              <% end %>
              <%#= will_paginate(@scholarships, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
          </div>
        </div>
      <div class="col-md-1 col-sm-2">
        <div class="row">
          <div style="font-weight:700">Subjects</div>
          <% @subjects.each do |subject| %>
            <% name = subject.name.gsub( " ", "-" ) %>
            <% name = name+"-scholarships" %>
            <%= link_to :controller => "singlesubjects", :action => "index", :subject => name do %>
              <div style="color:blue"><%= subject.name %></div>
            <% end %>
          <% end %>
        </div>
        <div class="row" style="margin-top: 30px">
          <div style="font-weight:700">Study Levels</div>
          <% @educations.each do |education| %>
            <% name = education.level.gsub( " ", "-" ) %>
            <%= link_to :controller => "scholarlevels", :action => "index", :level_id => name do %>
              <div style="color:blue"><%= education.level %></div>
            <% end %>
          <% end %>
        </div>
        <div class="row" style="margin-top: 30px">
          <div style="font-weight:700">Application date</div>
          <div style="color:blue">This week</div>
          <div style="color:blue">This month</div>
          <div style="color:blue"> This appliection</div>
        </div>
      </div>
    </div>
</div>