<div class="container" style="padding-bottom: 2%; font-size: 17px">
    <div class="row">
        <div class="col-md-9 col-sm-10">
            <div class="row" style="font-size: 20px;margin-top: 20px;color:blue">
                <%= @scholarship.title%>
            </div>
            <div class="row">
                <%= link_to :controller => "institute_view", :action => "index", :institute_id => @scholarship.institute_id do %>
                    <span style="color:green"><%= @scholarship.institute.name %></span>
                <% end %>
            </div>
            <div class="row">
                <% @scholarship.states.each do |state| %>
                    <% name = state.name.sub( " ", "-" ) %>
                    <% name = "Scholarships-in-"+name %>
                    <%= link_to :controller => "country", :action => "index", :country => name do %>
                        <span class="label label-success"><%= state.name %></span>
                    <% end %>
                <% end %>
            </div>
            <div class="row" style="margin-top: 10px">
                <%= @scholarship.content.html_safe %>
            </div>
            <div class="row" style="margin-top: 25px">
                <span>Eligible Subjects:</span>
                <% @scholarship.subjects.each do |subject| %>
                    <% name = subject.name.sub( " ", "-" ) %>
                    <% name = name+"-scholarships" %>
                    <%= link_to :controller => "singlesubjects", :action => "index", :subject => name do %>
                        <span class="label label-primary"><%= subject.name %></span>
                    <% end %>
                <% end %>
            </div>
            <div class="row">
                <span>Education Level:</span>
                <% @scholarship.educations.each do |education| %>
                    <%= link_to :controller => "scholarlevels", :action => "index", :level_id => education.id do %>
                        <span class="label label-primary"><%= education.level %></span>
                    <% end %>
                <% end %>
                <div>
                    <span>Number of scholarships:</span> <span><%= @scholarship.number_position %></span>
                </div>
                <div>
                    <span>Application deadline:</span> <span><%= @scholarship.deadline %></span>
                </div>
                <div>
                  <span>apply using this link to get </span> <span><%= @scholarship.amount_scholarship %></span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;margin-bottom:10px">
                <a href="<%= @scholarship.application_link %>" class="btn btn-primary">Apply online</a>
            </div>

            <% @real_scholarships.each do |scholarship| %>
            <div class="row">
                <div>
                    <%= scholarship.title %>
                </div>
                <div>
                    <% scholarship.states.each do |state| %>
                        <% name = state.name.sub( " ", "-" ) %>
                        <% name = "Scholarships-in-"+name %>
                        <%= link_to :controller => "country", :action => "index", :country => name do %>
                            <span class="label label-success"><%= state.name %></span>
                        <% end %>
                    <% end %>
                </div>
                <div>
                    <%= scholarship.content.html_safe %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="col-md-3 col-sm-2" >
            <div style="background-color: #E0E0E0; padding:10px" class="row">
                <div style="font-weight:700; color:blue">Similar scholarships in Same institute</div>
                <% @institute_scholorships.each do |scholarship| %>
                    <%= link_to :controller => "singlescholarships", :action => "index", :id => scholarship.id do %>
                        <div><%= scholarship.title %></div>
                    <% end %>
                <% end %>
                <div style="font-weight:700;padding-top: 12%; height: 30%; color:blue">Similar scholarships in Same education level</div>
                <% @education_scholarships.each do |scholarship| %>
                    <%= link_to :controller => "singlescholarships", :action => "index", :id => scholarship.id do %>
                        <div><%= scholarship.title %></div>
                    <% end %>
                <% end %>
                <div style="font-weight:700; padding-top:12%; height:30%; color:blue">Similar scholarships in Same Subject</div>
                <% @subject_scholarships.each do |scholarship| %>
                    <%= link_to :controller => "singlescholarships", :action => "index", :id => scholarship.id do %>
                        <div><%= scholarship.title %></div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>