<div class="container" style="padding-bottom: 2%; font-size: 17px">
    <div class="row">
        <div class="col-md-9 col-sm-10">
            <h1><%= @scholarship.title%></h1>
            <div class="row">
                <% name = @scholarship.institute.name.gsub(" ", "-" ) %>
                <% name = "Scholarships-at-"+name %>
                <%= link_to :controller => "institute_view", :action => "index", :institute_id => name do %>
                    <span style="color:green"><%= @scholarship.institute.name %></span>
                <% end %>
            </div>
            <div class="row">
                <% @scholarship.states.each do |state| %>
                    <% name = state.name.sub( " ", "-" ) %>
                    <% name = "Scholarships-in-"+name %>
                    <%= link_to :controller => "country", :action => "index", :country => name do %>
                        <span class="label label-success"><%= state.name %></span>
                    <% end %>
                <% end %>
            </div>
<div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Idea Sch Links -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2191799726154649"
     data-ad-slot="9320708051"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
            <div class="row" style="margin-top: 10px">
                <%= @scholarship.content.html_safe %>
            </div>
            <div class="row" style="margin-top: 25px">
                <span>Eligible Subjects:</span>
                <% @scholarship.subjects.each do |subject| %>
                    <% name = subject.name.sub( " ", "-" ) %>
                    <% name = name+"-scholarships" %>
                    <%= link_to :controller => "singlesubjects", :action => "index", :subject => name do %>
                        <span class="label label-primary"><%= subject.name %></span>
                    <% end %>
                <% end %>
            </div>
            <div class="row">
                <span>Education Level:</span>
                <% @scholarship.educations.each do |education| %>
                    <% name = education.level.gsub( " ", "-" ) %>
                    <%= link_to :controller => "scholarlevels", :action => "index", :level_id => name do %>
                        <span class="label label-primary"><%= education.level %></span>
                    <% end %>
                <% end %>
                <div>
                    <span>Number of scholarships:</span> <span><%= @scholarship.number_position %></span>
                </div>
                <div>
                    <span>Application deadline:</span> <span><%= @scholarship.deadline %></span>
                </div>
                <div>
                  <span>Using this link to get </span> <span><%= @scholarship.amount_scholarship %>  <%= @scholarship.title%></span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;margin-bottom:10px">
                <a href="<%= @scholarship.application_link %>" class="btn btn-primary" target="_blank" rel="nofollow">Apply online</a>
            </div>
<div style="margin:10px">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ablew post top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2191799726154649"
     data-ad-slot="3731705655"
     data-ad-format="auto"
     data-full-width-responsive="false"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<h3>Related Postions</h3>
<% @real_scholarships.each do |scholarship| %>
  <div class="row">
        <div style="padding:5px 0px;border-bottom:1px dotted #ddd;">
                    <%= scholarship.title %>
 </div>

</div>
            <% end %>
        </div>
        <div class="col-md-3 col-sm-2" >
            <div style="border-left:1px solid #ddd;padding:10px" class="row">
                <h3>Scholarships in Same institute</h3>
                <% @institute_scholorships.each do |scholarship| %>
                    <% name = scholarship.title.gsub( " ", "-" ) %>
                    <%= link_to :controller => "singlescholarships", :action => "index", :id => name do %>
                        <div><%= scholarship.title %></div>
                    <% end %>
                <% end %>
                <div style="padding:10px 0px;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Idea Resorce Res -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2191799726154649"
     data-ad-slot="7883903659"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
                <h3>Scholarships in Same Subject</h3>
                <% @subject_scholarships.each do |scholarship| %>
                    <% name = scholarship.title.gsub( " ", "-" ) %>
                    <%= link_to :controller => "singlescholarships", :action => "index", :id => name do %>
                        <div><%= scholarship.title %></div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>