<div class="container">
    <div class="row">
      <% if @category_id.blank? %>
          <% if @country_id.blank? %>
          <% else %>
              <%= link_to :controller=> 'home' do %>Home <% end %> > <%= @posts[0].country_name %>
          <% end %>
      <% else %>
          <%= link_to :controller=> 'home' do %>Home <% end %> > <%= @posts[0].category.name %>
      <% end %>
    </div>
    <% @posts.each do |post| %>
    <% name = post.title.gsub( " ", "-" ) %>
    <%= link_to :controller => "singleposts", :action => "index", :post => name do %>
      <h2><%= post.title %></h2>
    <% end %>
        <% end %>
</div>