<%= form_for(@education) do |f| %>
  <%#= render 'shared/error_subject_messages' %>
  <%= f.label :level %><br>
  <%= f.text_field :level, placeholder: 'Type the Education Level name', class: "form-control" %><br>
  <%= f.submit "Save", :class => "btn btn-success" %>
  <%= link_to :controller=>'educations',:action =>'index' do %>
    <div class="btn btn-primary" style="float: right">
      <span class="glyphicon glyphicon-menu-left"></span> Back
    </div>
  <% end %>
<% end %>