<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Scholarships</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        @media (max-width:800px) {
          .navbar-fixed-bottom {position: relative !important}
        }

        a:active {
            text-decoration: none !important;
        }
        a:hover {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:link {
            text-decoration: none;
        }
        .btn-primary {
            font-family: Raleway-SemiBold;
            font-size: 15px;
            border-radius: 40px;
        }
    </style>
  </head>
<body>
<nav class="navbar navbar-default" style="background-color:black !important" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" style="color:white">Scholarships</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li style="color:white"><%= link_to :controller=> 'home' do %><span style="color:white">Home</span><% end %></li>
      <li style="color:white"><%= link_to :controller=> 'scholarview' do %><span style="color:white">Scholarships</span><% end %></li>
      <li style="color:white"><%= link_to :controller=> 'postview' do %><span style="color:white">Blog</span><% end %></li>
      <li style="color:white"><%= link_to :controller=> 'postview' do %><span style="color:white">Submit Scholarship</span><% end %></li>

      <% Page.all.each do |page| %>
        <li><%= link_to :controller=> 'pageview', :action => 'shown',:page => page.id  do %><%= page.title %><% end %></li>
      <% end %>
      <li><%= link_to 'LogIn', login_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
  <%= yield %>

</div>
<footer class="navbar-default navbar-fixed-bottom" style="background-color: grey">
  <div class="container">
    <div style="padding:40px">
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <div class="row" style="font-width: 700;font-size: 20px; padding-bottom: 10px">Ideabroad</div>
          <%= link_to :controller=> 'home'  do %><div class="row">Home</div><% end %>
          <div class="row">About</div>
          <div class="row">Submit Scholarship</div>
          <div class="row">Contact</div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="row" style="font-width: 700;font-size: 20px; padding-bottom: 10px">Blog</div>
          <% @posts.each do |post| %>
            <div class="row">
              <%= link_to :controller => "singleposts", :action => "index", :post => post.id do %>
                <%= post.title %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
