<!DOCTYPE html>
<html>
<head>
     <title><%= content_for?(:html_title) ? yield(:html_title) : "Scholarships and Job Positions" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
h1 {margin-left:0px!important;}
        @media (max-width:800px) {
          .navbar-fixed-bottom {position: relative !important}
        }

        a:active {
            text-decoration: none !important;
        }
        a:hover {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:link {
            text-decoration: none;
        }
        .btn-primary {
            font-family: Raleway-SemiBold;
            font-size: 15px;
            border-radius: 40px;
        }
    </style>
<script data-ad-client="ca-pub-2191799726154649" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
<body>
<nav class="navbar navbar-default" style="background-color:black !important" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
<div style="margin:10px!important;margin-left:30px!important;font-size:20px;font-weight:bold;">
<%= link_to :controller=> 'home' do %>Positions<% end %></div>
     </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li style="color:white"><%= link_to :controller=> 'home' do %><span style="color:white">Home</span><% end %></li>
      <li style="color:white"><%= link_to :controller=> 'scholarview' do %><span style="color:white">Scholarships</span><% end %></li>
      <li style="color:white"><%= link_to :controller=> 'postview' do %><span style="color:white">Blog</span><% end %></li>
      <li style="color:white"><%= link_to :controller=> 'postview' do %><span style="color:white">Submit Scholarship</span><% end %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
  
<%= yield %>

</div>
<footer class="navbar-default" style="background:#ddd;">
  <div class="container">
    <div style="padding:40px">
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <div class="row" style="font-width: 700;font-size: 20px; padding-bottom: 10px">Ideabroad</div>
          <%= link_to :controller=> 'home'  do %><div class="row">Home</div><% end %>
          <div class="row">About</div>
          <div class="row">Submit Scholarship</div>
          <div class="row">Contact</div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="row" style="font-width: 700;font-size: 20px; padding-bottom: 10px">Blog</div>
          <% @posts.take(4).each do |post| %>
            <% name = post.title.gsub( " ", "-" ) %>
            <div class="row">
              <%= link_to :controller => "singleposts", :action => "index", :post => name do %>
                <%= post.title %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
